
@keyframes textLoop {
    0% {
        transform: translateY(0%) rotate(-90deg); 
    }
    100% {
        transform: translateY(200%) rotate(-90deg); 
    }
}
.loop-container{
    /* position: absolute; */
    /* top:0; */
    /* left:0; */
    /* z-index: 30; */
}
.loop-text {
    /* overflow: hidden; */
    background-color: rgb(197, 142, 249);
    font-size: 28px;
    line-height: 60px;
    font-family: gilroy;
    white-space: nowrap;
    animation: textLoop 2s linear infinite;
  }
  